# Rust's output directory
target

# Local Soroban settings
.soroban
.stellar

# Rust's test output
**/test_snapshots

/.vscode
/.cargo
contracts/nft/src/config.json
initialize_contract.sh

# editor backups
*.bak
